body {
background-image:url("fundo.jpg")
}
#main {
	width:900px;
	height:800px;
	margin:auto;
	background-color:#f8f2e8;
}
#a1 {
	width:900px;
	height:150px;
	background-image:url("niga.png")
}
#a2 {
	text-align:center;
	
}
#a2 ul li {
	list-style:none;
	display:inline;
	padding:15px;
}
#a2 ul li a {
	text-decoration:none;
}